<h2>Pages in This Quality Class</h2>
<div>
<% @pages_in_this_quality_class.each do |page| %>
  <p>
    <%= link_to page, page %>
  </p>
<% end %>
</div>

<h2>Names on Those Pages</h2>
<div style="float: left;">
  <% @names.each do |name| %>
    <p>
    <%= name %>
    </p>
  <% end %>
</div>
<div style="float: right">
  <% @urls.each do |url| %>
    <p>
    <%= link_to url, url %>
    </p>
  <% end %>
</div>
