<h2>Pages in This Quality Class</h2>
<div>
<% @pages_in_this_quality_class.each do |page| %>
  <p>
    <a href="<%= page %>"><%= page %></a>
  </p>
<% end %>
</div>

<h2>Names on Those Pages</h2>
<div>
  <% @names.each do |name| %>
    <p>
      <%= name %>
    </p>
  <% end %>

</div>
