<h2><%= @number_of_biography_links_to_show %> Random Female Biography Links</h2>

<% if ! @female_biography_links %>
  <%= link_to "Update biographies", new_biography_path %>
<% else %>
  <% @female_biography_links.each do |biography_link| %>
    <div>
      <p><strong><%= biography_link.name %>: </strong>
      <%= link_to biography_link.name, biography_path(biography_link.id) %></p>
    </div>
  <% end%>
<% end %>
